snippet cline
# ======================================
#
endsnippet

snippet gfdoc
"""${0:Description}

Args:
	${1:param}: ${2:Description}

Returns:
	${3:Description}

Raises:
	${4:Error}: ${5:Description}
"""
endsnippet

snippet gcdoc
"""${0:Description}

Attributes:
	${1:param}: ${2:Description}
"""
endsnippet
